<div class="todolist-container">
  <div class="todos-container">
      <div>
        <!-- data-testid="todo-item" -->
        <div
          *ngFor="let todo of todos; let index = index"
          class="todo-item"
          [class.todo-item-active]="todo.completed"
          (click)="completeTodo(index)"
        >
          {{todo.task}}
        </div>
      </div>
  </div>
  <div>
      <app-footer>
        <p>{{numIncompleteTasks}} {{numIncompleteTasks === 1 ? 'task' : 'tasks'}} left</p>
        <a [routerLink]="['followers']">Followers</a>
      </app-footer>
  </div>
</div>
